<div class="container">
	<div class="logo-container">
		<!-- <amp-img alt="logo"class="logo"src="images/ibm-uso-logo.png"width="315"height="72"layout="intrinsic"></amp-img> -->
		<img class="logo" src="https://s0.2mdn.net/creatives/assets/4260222/ibm-uso-logo.png" layout="intrinsic" />
	</div>

	<div class="text-container">
		<p class="text frame-1">
			<span><i data-delay="1" style="--ani-order:1;">You see tennis.</i></span>
			<span><i data-delay="2" style="--ani-order:2;">We see data.</i></span>
		</p>
		<p class="text frame-2">
			<span><i data-delay="1" style="--ani-order:1;">IBM Power Rankings </i></span>
			<span><i data-delay="2" style="--ani-order:2;">with Watson is </i></span>
			<span><i data-delay="3" style="--ani-order:3;">analyzing every </i></span>
			<span><i data-delay="4" style="--ani-order:4;">second of the </i></span>
			<span><i data-delay="5" style="--ani-order:5;">US Open.</i></span>
		</p>
		<p class="text frame-3">
			<span><i data-delay="1" style="--ani-order:1;">Follow the </i></span>
			<span><i data-delay="2" style="--ani-order:2;">action from </i></span>
			<span><i data-delay="3" style="--ani-order:3;">court to couch.</i></span>
		</p>
	</div>
	
	<div class="hero-container">
		<div class="burst">
			<ul>
				<li style="--ani-order:1.5;"></li>
				<li style="--ani-order:1.2;"></li>
				<li style="--ani-order:1.1;"></li>
				<li style="--ani-order:1.2;"></li>
				<li style="--ani-order:1.5;"></li>
			</ul>
		</div>
		<!--<amp-img alt="phone" class="phone" src="images/phone.png" width="449" height="600" layout="responsive"></amp-img> -->
		 <figure class="phone" style="background-image:url('https://s0.2mdn.net/creatives/assets/4260222/phone.png');"></figure>
	</div>
</div>
{{!-- 
	<!-- <amp-img alt="{{bg.alt}}"
		class="hero"
		src="{{{bg.src}}}"
		width="600"
		height="1200"
		layout="fill">
	</amp-img> -->
	<div class="container">
		<div class="center-col">
			<div class="logo-container">
				<amp-img alt="logo"class="logo"src="./images/ibm-uso-logo.png"width="315"height="72"layout="intrinsic"></amp-img>
			</div>
			<div class="heading-text-box">
				<!-- <amp-fit-text id="heading-fit-text" layout="fill" min-font-size="16" max-font-size="42"> -->
				<span class="t2" style="--ani-order:0;"><i data-delay="0">IBM Power Rankings </i></span>
				<span class="t2" style="--ani-order:1;"><i data-delay="1">with Watson is</i></span>
				<span class="t2" style="--ani-order:2;"><i data-delay="2">analyzing every </i></span>
				<span class="t2" style="--ani-order:3;"><i data-delay="3">second of the </i></span>
				<span class="t2" style="--ani-order:4;"><i data-delay="4">US Open.</i></span>
				<!-- </amp-fit-text> -->
			</div>
		</div>
		<div class="bottom">
			<amp-img alt="phone"
				class="phone"
				src="images/phone.png"
				width="449"
				height="600"
				layout="intrinsic">
			</amp-img>
			<!-- Recommended text font size for subtitle is min 16pt and max 22pt. Color can be flexible. 
			<div class="subtitle-text-box">
				<amp-fit-text
					id="subtitle-fit-text"
					layout="fill"
					min-font-size="16"
					max-font-size="22">
					Spice up your wardrobe and style with our new collection.
				</amp-fit-text>
			</div>-->
		</div>
	</div>  
--}}