<div class="container">
	<div class="logo-container">
		<amp-img alt="logo"class="logo"src="https://s0.2mdn.net/creatives/assets/4260222/ibm-uso-logo.png" width="315" height="72" layout="intrinsic"></amp-img>
	</div>

	<div class="text-container">
		<p class="text frame-1">
			<span><i data-delay="1" style="--ani-order:1;">You see tennis.</i></span>
			<span><i data-delay="2" style="--ani-order:2;">We see data.</i></span>
		</p>
		<p class="text frame-2">
			<span><i data-delay="1" style="--ani-order:1;">IBM Power Rankings </i></span>
			<span><i data-delay="2" style="--ani-order:2;">with Watson is </i></span>
			<span><i data-delay="3" style="--ani-order:3;">analyzing every </i></span>
			<span><i data-delay="4" style="--ani-order:4;">second of the </i></span>
			<span><i data-delay="5" style="--ani-order:5;">US Open.</i></span>
		</p>
		<p class="text frame-3">
			<span><i data-delay="1" style="--ani-order:1;">Follow the </i></span>
			<span><i data-delay="2" style="--ani-order:2;">action from </i></span>
			<span><i data-delay="3" style="--ani-order:3;">court to couch.</i></span>
		</p>
	</div>
	
	<div class="hero-container">
		<div class="burst">
			<ul>
				<li style="--ani-order:1.5;"></li>
				<li style="--ani-order:1.2;"></li>
				<li style="--ani-order:1.1;"></li>
				<li style="--ani-order:1.2;"></li>
				<li style="--ani-order:1.5;"></li>
			</ul>
		</div>
		<amp-img alt="" class="phone" src="https://s0.2mdn.net/creatives/assets/4260222/phone.png" width="449" height="600" layout="intrinsic"></amp-img>
	</div>
</div>
